<h1 class="animated fadeIn fast display-5">Sobre Planets WebSite</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-lg-6 info">
            <p class="lead">
                Contenido modificado para conocer y practicar los fundamentos de Angular, tomando como ejemplo la divulgación científica astrónomica, precisando los planetas que se encuentran dentro del sistema solar.
            </p>
        </div>
        <div class="col-lg-6">
            <img class="w-75" src="../../../assets/img/astronauta.png" />
        </div>
    </div>
</div>