<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 info">
        <h1 class="display-2 pb-4">Planets Website</h1>
        <p class="lead">
          Conoce los planetas que componen el sistem solar, desde Mercurio hasta
          Neptuno, conoce datos científicos sobre cada uno de estos y aprende un
          poco más sobre una parte de todo lo que contiene este vasto universo.
        </p>
      </div>
      <div class="col-lg-6">
        <img src="../../../assets/img/space.png" />
      </div>
    </div>
  </div>
</div>
