nav {
    box-shadow: -1px 10px 14px -6px rgba(117, 114, 114, 0.64);
    -webkit-box-shadow: -1px 10px 14px -6px rgba(117, 114, 114, 0.64);
    -moz-box-shadow: -1px 10px 14px -6px rgba(117, 114, 114, 0.64);
}